*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteyner{
    width: 600px;
    height: 450px;
    background: rgb(183, 22, 22);
    margin: 0 auto;
    margin-top: 140px;
    
}

.fther{
    width: 530px;
    height: 35px;
    background: rgb(16, 222, 181);
    margin: 0px 25px;
    
    
}

.mazer{
    width: 160px;
    height: 300px;
    background: rgb(73, 174, 95);
    margin: 10px 10px 10px 25px ;
    
}

.home{

    width: 350px;
    height: 300px;
    background: orange;
    margin: -20px 10px 10px 180px;
}


.end1{
    width: 80px;
    height: 80px;
    background: rgb(198, 239, 49);
    margin: 190px 70px 0px 10px;
}

.end2{
    width: 80px;
    height: 80px;
    margin: -80px 70px 0px 110px;
    background: rgb(198, 239, 49);
    
}


.end3{
    width: 80px;
    height: 80px;
    background: rgb(198, 239, 49);
    margin: -80px 90px 0px 230px;
}

.alt{
    width: 530px;
    height: 35px;
    background: rgb(16, 222, 181);
    margin: 0px ;
}